@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/************* My solution ****************/

body{
  display: flex;
  flex-direction: column;
  /* This justify-content is column oriented*/
  justify-content: space-between;
}

li {
  list-style-type: none
}

li a{
  color: black;
  /* text-underline-offset: 0; */
  text-decoration: none;
}

.header,
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-right: 20px; */
  /* padding-left: 0px; */
  /* margin-right: 10; */
}

div.footer {
  background-color: #eeeeee;
}

div.content {
  /*Centered horizontally because of flex-direction: column in the body*/
  align-self: center;
}

div.input,
div.buttons{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 5px 0px;
}

div.buttons button{
  padding: 5px 8px;
}

ul.left-links,
ul.right-links{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 0px 16px;
}


